body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #fff;
}

img {
  max-width: 100%
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  white-space: nowrap;;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}



header {
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.main-navigation a:hover,
.cart-item:hover {
  color: #fb565a;
}

.main-navigation a:focus,
.cart-item:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list-item,
.slider-list,
.service-list-items,
.features-list,
.filter-radiobuttons,
.filter-features-list,
.sorting-list-1,
.sorting-list-2,
.clients-list,
.catalog-list {
  list-style: none;
}

.cart-item {
  text-transform: uppercase;
  font-weight: 500;
}

.slider-item-button {
  width: 240px;
  background-color: #fb565a;
  color: #ffffff;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
}

.order-button {
  display: block;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-red {
  background-color: #fb565a;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}


.service-list-items h2 {
    padding: 0;
    margin: 19px 0 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.service-list-items p {
  color: #283136;
  width: 275px;
  margin-bottom: 33px;
}

.lead {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  margin-bottom: 35px;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #283136;
  text-transform: uppercase;
}

.number {
 font-size: 45px;
 font-weight: 700;
 line-height: 0.22;
 color: #000000
}

.number sup {
  font-size: 65%;
}


.address-bold {
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #000000;
}

.address-content {
  width: 200px;
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
}

.footer-lead {
  width: 545px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}

.modal-write-us {
  width: 960px;
  background-color: #ffffff;
}

.modal-write-us h2 {
  width: 306px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.modal-write-us input {
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
}

.header-bot h1 {
  width: 750px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

fieldset {
  border: none;
}

.filter-item legend {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation-list {
  list-style: none;
}

.card-gray-text {
  color: #666666;
}

.card-button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  background-color: #fb565a;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  width: 50px;
  color: black;
  text-align: center;
  background-color: #eeeeee;
}

.pagination-item-current a {
  width: 50px;
  height: 50px;
  border: solid 3px #dbdbdb;
}

.popup-button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

/*Сетки*/

/*Хедер*/

.header-top {
  display: flex;
  padding-top: 50px;
}

a.main-logo {
  margin-right: 202px;
}

.main-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul.main-navigation-list {
  padding-top: 30px;
  padding-left: 0px;
  margin: 0;
}

li.main-navigation-list-item {
  margin-right: 47px;
}

a.cart-item {
  margin-left: auto;
  padding-top: 16px;
}

img.cart-icon {
  margin-top: 15px;
  margin-right: 26px;
  opacity: 0.6;
}
/*Слайдер*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*Сервис*/


.service-list-items {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 162px;
}

/*О компании*/


.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

.features-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: left;
}

.features-list li {
  flex-grow: 1;
  flex-basis: 0;
}

li.features-item {
  margin-right: 0px;
}

.about-right {
  width: 360px;
  text-align: center;
}

.about-right img {
  margin-bottom: 15px;
}

.about-right-text p {
  margin-right: 0;
}

.about-right-text  {
  margin-bottom: 60px;
}

.about-left {
  width: 655px;
}

.about-left p {
  margin: 0px;
}

p.lead {
  margin-bottom: 35px;
}

p.main-text {
  margin: 0px;
  margin-bottom: 35px;
}
/*Клиенты*/

.clients-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
}

/*Карта*/

.map img {
  width: 100%;
  margin-right: 0px;
}

/*Футер*/

.footer-wrapper {
  display: flex;
}

/*Каталог*/

.header-bot {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  padding-top: 35px;
  padding-left: 17px;
  padding-bottom: 70px;
}

/*Ползунок*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 63px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Правая часть каталога*/
.catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

p.sorting-bold {
  margin-right: 265px;
  margin-top: 0px;
}

.catalog-items {
  margin: 0;
  padding: 0;
  width: 760px;
}

.sorting p {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sorting {
  display: flex;
  margin-top: 0;
  margin-bottom: 30px;
}

ul.sorting-list-1, ul.sorting-list-2 {
  margin: 0;
  padding: 0;
}

.sorting-list-1 {
  display: flex;
  justify-content: space-between;
}

.sorting-list-1 li {
  text-transform: uppercase;
  margin-right: 23px;
}

.sorting-list-1 li:last-child {
  margin-right: 0px;
}

.sorting-list-2 {
  display: flex;
  flex-direction: row;
}

.sorting-list-2 li:first-child {
  margin-right: 15px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog-list li {
  flex-grow: 1;
  flex-basis: 0;
}

.catalog-list li:nth-child(odd) {
  margin-right: 31px;
}

.pagination-list {

}

.pagination-list li {
  display: inline-block;
  margin-right: 5px;
  text-align: justify;
  vertical-align: middle;
}



.pagination-list a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10%;
}

ul.pagination-list li:last-child a {
  padding-left: 77px;
  padding-right: 77px;
  border-radius: 3%;
}

.service-list-items li {
  width: 300px;
  margin-right: 100px;
}

ul.service-list-items:last-child {
  margin-right: 0px;
}

.service-list-items h2 {
  text-transform: uppercase;
}

ul.clients-list {
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  margin-bottom: 125px;
}

.clients-list li {
  padding-right: 0px;
  flex-grow: 1;
  flex-basis: 0;
  /*border-right: 2px solid #e1e1e1;*/
}

.clients-list li:last-child {
  border-right: none;
}

.clients-list li::after {
  content: "";
  position: relative;
  display: inline-block;
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  right: -39px;
  top: -13px;
}

.clients-list img {
  opacity: 0.4;
}

.features-list li p {
  text-align: left;
}

div.map {
  width: 100%;
  height: 416px;
}

.map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.address-bold {
  text-transform: uppercase;
  font-weight: 700;
}

.service-list-items li:last-child {
  margin-right: 0px;
}

.filters {
  width: 260px;
}

ul.sorting-list-1 {
  margin-right: 55px;
}

ul.sorting-list-1 li {
}

.sorting-list-1 li {
  text-transform: uppercase;
  font-size: 14px;
}

p.bold {
  margin-bottom: 0px;
}

ul.pagination-list {
  margin: 0;
  padding: 0;
}

ul.footer-social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  margin-right: 130px;
}

.footer-social-list li {
  margin-right: 12px;
}

.whereabouts {
  margin-bottom: 70px;
}

.social {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.footer-social-text {
  padding-top: 25px;
}

.footer-social-text p {
  margin-top: 7px;
}

.orders-list {
  list-style: none;
  margin-top: 2px;
  padding-left: 35px;
}

.orders-list li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: relative;
  top: 20px;
  right: 35px;

}

.about-right {
  position: relative;
  bottom: 35px;
}

div.three-points-border {
  height: 40px;
}

 ul.filter-radiobuttons {
  padding-left: 8px;
  margin-bottom: 42px;
}

.filter-radiobuttons li {
  cursor: pointer;
  margin-bottom: 10px;
}

.radiobutton-anchor {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display:inline;
}

input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/radio-off.svg") no-repeat;
  vertical-align: middle;
  opacity: 0.6;
  position: relative;
  right: 8px;
}

input[type="radio"]:checked + label:before {
  content: '';
  background: url("../img/radio-on.svg") no-repeat;
  opacity: 0.6;
}

.filter-features {
  margin-bottom: 42px;
}

ul.filter-features-list {
  padding-top: 18px;
  padding-left: 0px;
  margin: 0;
}

.filter-features-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-features-list label {
  cursor: pointer;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] ~ label {
  display:inline;
}

input[type="checkbox"] ~ label:before {
  content: '';
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 3px;
}

input[type="checkbox"]:checked ~ label:before {
  content: '';
  background: url("../img/checkbox-on.svg") no-repeat;
}

button.show-button {
  border: none;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #eeeeee;
}
