
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  white-space: nowrap;;

  -webkit-clip-path: inset(100%);;

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}



header {
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.main-navigation a:hover,
.cart-item:hover {
  color: #fb565a;
}

.main-navigation a:focus,
.cart-item:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list-item,
.slider-list,
.service-list-items,
.features-list,
.filter-radiobuttons,
.filter-features-list,
.sorting-list-1,
.sorting-list-2,
.clients-list,
.catalog-list {
  list-style: none;
}

a.cart-item {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 194px;
  margin-top: 3px;
  padding-top: 16px;
}

.slider-item-button {
  padding: 16px 0;
  width: 240px;
  background-color: #fb565a;
  color: #ffffff;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
}

.order-button {
  display: block;
  width: 160px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-red {
  background-color: #fb565a;
  cursor: pointer;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}


.service-list-items h2 {
    padding: 0;
    margin: 19px 0 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.service-list-items p {
  color: #283136;
  width: 275px;
  margin-bottom: 33px;
}

.lead {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  margin-bottom: 35px;
}

.main-text {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #283136;
  text-transform: uppercase;
}

.number {
 font-size: 45px;
 font-weight: 700;
 line-height: 0.22;
 color: #000000
}

.number sup {
  font-size: 65%;
}


.address-bold {
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #000000;
}

.address-content {
  width: 200px;
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
}

.footer-lead {
  width: 545px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}

.modal-write-us {
  width: 776px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.modal-write-us h2 {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.modal-write-us input {
  width: 345px;
  height: 49.5px;
  border: 2px solid #d7dcde;
  padding: 0;
  padding-left: 14px;
  margin-right: 36px;
}

.header-bot h1 {
  width: 750px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

fieldset {
  border: none;
}

.filter-item legend {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: black;
  text-align: center;
  background-color: #eeeeee;
}


.pagination-item-current a {
  height: 50px;
  background-color: #ffffff;
  border: solid 2px #dbdbdb;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.popup-button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

/*Сетки*/

/*Хедер*/

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

a.main-logo {
  margin-right: 202px;
}

a.main-logo:active {
  opacity: 0.3;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.main-navigation-list {
  padding-top: 28px;
  padding-left: 0px;
  margin: 0;
}

li.main-navigation-list-item {
  margin-right: 47px;
  position: relative;
}

.main-navigation-list-item:nth-child(1) a::after {
  content: "";
  position: absolute;
  display: none;
  top: 30px;
  right: 0px;
  width: 62px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation-list-item:nth-child(1):active a::after {
  display: block;
}

.main-navigation-list-item:nth-child(2) a::after {
  content: "";
  position: absolute;
  display: none;
  top: 30px;
  right: 0px;
  width: 76px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation-list-item:nth-child(2):active a::after {
  display: block;
}

.main-navigation-list-item:nth-child(3) a::after {
  content: "";
  position: absolute;
  display: none;
  top: 30px;
  right: 0px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation-list-item:nth-child(3):active a::after {
  display: block;
}

.main-navigation-list-item:nth-child(4) a::after {
  content: "";
  position: absolute;
  display: none;
  top: 30px;
  right: 0px;
  width: 85px;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation-list-item:nth-child(4):active a::after {
  display: block;
}

.main-navigation-list-item-current a {
  position: relative;
}

li.main-navigation-list-item-current {
  margin-right: 47px;
}

.main-navigation-list-item-current a::after {
  content: "";
  position: absolute;
  display: block;
  top: 30px;
  right: 0px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.cart-item {
  position: relative;
}

a.cart-item  {
  margin-left: 194px;
  margin-top: 2px;
  padding-top: 16px;
}

.cart-item::after {
  content: "";
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 116px;
  height: 2px;
  background-color: #fb565a;
}

.cart-item:active::after {
  display: block;
}

svg.cart-icon {
  margin-top: 15px;
  margin-right: 26px;
  fill-opacity: 0.4;
}

.cart-icon:hover {
   text-decoration: underline;
   -webkit-text-decoration-color: #fb565a;
           text-decoration-color: #fb565a;
}
/*Слайдер*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 82px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 11px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.order-button:hover,
.order-button:focus {
  background-color: #e74246;
}

.order-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*Сервис*/

.service-list {
  margin-bottom: 66px;
}

.service-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
}

ul.service-list-items {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 81px;
}
/*О компании*/


.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: left;
}

.features-list li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

li.features-item {
  margin-right: 0px;
}

.about-right {
  width: 360px;
  text-align: center;
}

.about-right img {
  margin-bottom: 15px;
}

.about-right-text p {
  margin-right: 0;
}

.features-text {
  line-height: 1.2;
}

.about-right-text  {
  margin-bottom: 60px;
}

.about-left {
  padding-top: 8px;
  width: 655px;
}

.about-left p {
  margin: 0px;
}

p.lead {
  margin-bottom: 35px;
}

p.main-text {
  margin: 0px;
  margin-bottom: 35px;
}
/*Клиенты*/

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

/*Карта*/

.map img {
  width: 100%;
  margin-right: 0px;
}

/*Футер*/

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Каталог*/

.header-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  padding-top: 35px;
  padding-left: 17px;
  padding-bottom: 70px;
}

/*Ползунок*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 59px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Правая часть каталога*/
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

p.sorting-bold {
  margin-right: 266px;
  margin-top: 0px;
}

.catalog-items {
  margin: 0;
  padding: 0;
  width: 760px;
}

.sorting p {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 30px;
}

ul.sorting-list-1, ul.sorting-list-2 {
  margin: 0;
  padding: 0;
}

.sorting-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-list-1 li {
  text-transform: uppercase;
  margin-right: 26px;
  opacity: 0.3;
}

.sorting-list-2 img {
  opacity: 0.2;
}

.sorting-list-2 img:hover {
  opacity: 0.6;
}

.sorting-list-2 img:active {
  opacity: 1;
}

.sorting-list-1 li:hover {
  opacity: 0.6;
}

.sorting-list-1 li:active {
  opacity: 1;
}

.sorting-list-1 li:last-child {
  margin-right: 0px;
}

.sorting-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sorting-list-2 li:first-child {
  margin-right: 15px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.catalog-list li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  margin-bottom: 28px;
}

.catalog-list li:nth-child(odd) {
  margin-right: 40px;
}

.pagination-list {

}

.pagination-list li {
  display: inline-block;
  margin-right: 6px;
  text-align: justify;
  vertical-align: middle;
}



.pagination-list a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
}


ul.pagination-list li:last-child a {
  margin-left: 4px;
  padding-left: 77px;
  padding-right: 77px;
  border-radius: 3%;
}

.service-list-items li {
  width: 300px;
  margin-right: 100px;
}

ul.service-list-items:last-child {
  margin-right: 0px;
}

.service-list-items h2 {
  text-transform: uppercase;
}

ul.clients-list {
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 0px;

  margin
  margin-left: auto;
  margin-right: auto;
}

.clients-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-list li:nth-child(1) {
  margin-right: 96px;
}

.clients-list li:nth-child(2) {
  margin-right: 103px;
}

.clients-list li:nth-child(3) {
  margin-right: 120px;
}


.clients-list li:nth-child(1)::after {
  content: "";
  position: absolute;
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  right: -50px;
  top: 16px;
}

.clients-list li:nth-child(2)::after {
  content: "";
  position: absolute;
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  right: -46px;
  top: 16px;
}

.clients-list li:nth-child(3)::after {
  content: "";
  position: absolute;
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  right: -57px;
  top: 18px;
}

.clients-list img {
  opacity: 0.2;
}

.clients-list img:hover {
  opacity: 1;
}

.clients-list li:active {
  opacity: 0.1;
}

.features-list li p {
  text-align: left;
}

.clients {
  margin-bottom: 80px;
}

div.map {
  width: 100%;
  height: 416px;
}

.map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.address-bold {
  text-transform: uppercase;
  font-weight: 700;
}

.service-list-items li:last-child {
  margin-right: 0px;
}

.filters {
  width: 260px;
}

ul.sorting-list-1 {
  margin-right: 48px;
}

ul.sorting-list-1 li {
}

.sorting-list-1 li {
  text-transform: uppercase;
  font-size: 14px;
}

p.bold {
  margin-bottom: 0px;
}

ul.pagination-list {
  margin: 0;
  padding: 0;
}

ul.footer-social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 130px;
}

.footer-social-list li {
  margin-right: 12px;
}

.whereabouts {
  margin-bottom: 70px;
}

.social {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social:hover,
.social:focus {
  background-color: #e74246;
}

.social:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

div.footer-social-text {
  padding-top: 25px;
}

.footer-social-text p {
  margin-top: 7px;
}

.orders-list {
  list-style: none;
  margin-top: 2px;
  padding-left: 35px;
}

.orders-list li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: relative;
  top: 20px;
  right: 35px;

}
.about {
  margin-bottom: 31px;
}

.about-right {
  position: relative;
  bottom: 28px;
}

.three-points-border {
  height: 40px;
  opacity: 0.12;
  cursor: pointer;
}

.catalog-item:hover .three-points-border {
  opacity: 1;
}

 ul.filter-radiobuttons {
  padding-left: 8px;
  margin-bottom: 42px;
}

.filter-radiobuttons li {
  cursor: pointer;
  margin-bottom: 10px;
}

.radiobutton-anchor {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display:inline;
}

input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/radio-off.svg") no-repeat;
  vertical-align: middle;
  opacity: 0.4;
  position: relative;
  right: 8px;
}

input[type="radio"]:checked + label:before {
  content: '';
  background: url("../img/radio-on.svg") no-repeat;
  opacity: 0.6;
}

input[type="radio"]:hover + label:before {
  opacity: 1;
}

input[type="radio"]:disabled + label:before {
  opacity: 0.3;
}

.filter-features {
  margin-bottom: 42px;
}

ul.filter-features-list {
  padding-top: 17px;
  padding-left: 36px;
  margin: 0;
}

.filter-features-list li {
  margin-bottom: 17px;
  cursor: pointer;
  position: relative;
}

.filter-features-list label {
  cursor: pointer;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] ~ label {
  display:inline;
}

input[type="checkbox"] ~ label:before {
  content: '';
  position: absolute;
  right: 225px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: url("../img/checkbox-off.svg") no-repeat;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 3px;
  opacity: 0.4;
}

input[type="checkbox"]:checked ~ label:before {
  content: '';
  background: url("../img/checkbox-on.svg") no-repeat;
}

input[type="checkbox"]:hover ~ label:before {
  opacity: 1;
}

input[type="checkbox"]:disabled ~ label:before {
  opacity: 0.3;
}

button.show-button {
  border: none;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #eeeeee;
  cursor: pointer;
}

.show-button:hover,
.show-button:focus {
  background-color: #dfdfdf;
}

.show-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

li.catalog-item  {
  position: relative;
  cursor: pointer;
}

.catalog-item:hover {
  -webkit-box-shadow: 3px 3px 10px 0px #dfdfdf;
          box-shadow: 3px 3px 10px 0px #dfdfdf;
}

.catalog-item-card {
  display: none;
  position: absolute;
  top: 386px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  width: 360px;
  height: 232px;
  padding-bottom: 4px;
  cursor: pointer;
}

.catalog-item:hover .catalog-item-card {
  display: block;
}

.card-bold {
  margin: 0px;
  padding-top: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: center;
}

.card-gray-text {
  margin: 0px;
  padding-top: 14px;
  color: #666666;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 30px;
  word-wrap: break-word;
}

.card-button {
  display: block;
  width: 200px;
  padding: 16px 0;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.card-button:hover,
.card-button:focus {
  background-color: #e74246;
}

.card-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.modal-write-us {
  position: absolute;
  display: none;
  top: 220%;
  right: 19%;
  padding-top: 73px;
  padding-left: 101px;
  padding-right: 84px;
  padding-bottom: 84px;
  -webkit-box-shadow: 10px 10px 50px 5px black;
          box-shadow: 10px 10px 50px 5px black;
}
.modal-write-us h2 {
  margin: 0;
  margin-bottom: 78px;
}

.btn-close {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 73px;
  right: 80px;
  opacity: 0.3;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active {
  opacity: 0.1;
}

.button-close svg {
  cursor: pointer;
}

.write-us-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 72px;

}

input.modal-input {
  position: relative;
  border-radius: 3px;
  font-family: inherit;
}

.modal-input:hover {
  border-color: #b4b9bb;
}

.modal-input:focus::-webkit-input-placeholder {
  color: #444444;
}

.modal-input:focus:-ms-input-placeholder {
  color: #444444;
}

.modal-input:focus::-ms-input-placeholder {
  color: #444444;
}

.modal-input:focus::placeholder {
  color: #444444;
}

.modal-input:focus {
  border-color: #000000;
}

.modal-input:invalid {
  border-color: #e74246;
  color: #e74246;
}

div.write-us-middle {
  position: relative;
  margin-bottom: 36px;
}

.modal-input-label {
  position: absolute;
  top: -32px;
}

textarea.modal-input {
  font-family: inherit;
  width: 760px;
  height: 118px;
  border: 2px solid #d7dcde;
  padding-left: 14px;
  padding-top: 10px;
}

.slider-item-button {
  padding: 16px 0;
}
